@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');


h1      { word-wrap: break-word; }
a       { text-decoration: none; }

body:first-of-type { 
    background-color: rgb(var(--black)); 
}

body:first-of-type, html:first-of-type {
    margin: 0;

    height: 100%;
}


body > * > body, body > * > html {
    height: 0;
    width: 0;
    background-color: transparent;
}


.icon-btn-container {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    border: none;
    cursor: pointer;
}

.icon-btn-container img.icon-btn-icon {
    background-color: transparent;
    margin-right: 10px;
}

span.de-highlight {
    color: grey !important;
}

.clickable {
    cursor: pointer;
}

:root {
    --plain-white: 255, 255, 255;
    --white: 240, 233, 210;
    --white-dense: 243, 219, 212;

    --gray: 46, 43, 43;

    --black: 0, 0, 0;
    --black-dense: 36, 38, 44;
    --black-denser: 22, 23, 26;
    --red: 194, 30, 50;
    --purple: 137, 17, 119;
    --green: 75, 177, 151;
    --pink: 248, 8, 92;
    --yellow: 248, 194, 103;

    --default-font: Noto Sans,sans-serif;
    --title-font: Nunito Sans, sans-serif;
    --button-font: Heebo, sans-serif;
}

parsererror {
    display: none !important;
}